<%= tinymce_assets %>

<dl>

  <%= f.text_field_control @page, :title , { :class => 'required' } %>

  <%= f.permalink_field_control @page, :permalink, { :class => 'required' }, {}, { :prefix => 'http://translatingtime.org'} %>
  
  <dt><%= f.label :body %></dt>
  <dd>
    <%= f.text_area :body, :class => "tinymce" %>
    <span class="togglemce">Toggle rich-text</span>    
  </dd>
  <%= tinymce %>

  <%= f.text_field_control @page, :meta_keywords, { :text => 'Keywords' } %>

  <%= f.text_field_control @page, :meta_description, { :text => 'Description' } %>
  
</dl>