<% content_for :breadcrumbs do %>
  <%= link_to 'Admin', admin_dashboard_path %> &raquo
  <%= link_to 'Pages', admin_pages_path %> &raquo
  <strong>New Page</strong>
<% end %>

<% content_for :main do %>

  <div class="form">
    
    <div class="form-header">
      <h2>Page Details</h2>
    </div>
  
    <%= form_for @page, { :url => admin_pages_path } do |f| %>
    
      <div class="form-body">
  
        <%= render 'form', :f => f %>
        
      </div>
    
      <div class="form-footer">
    
        <ul>
          <li><%= link_to 'Cancel', admin_pages_path %></li>
          <li><%= f.submit "Save Draft", { :class => "button" } %></li>
          <li><%= f.submit "Publish", { :class => "button" } %></li>
        </ul>
        
      </div>
    
    <% end %>
  
  </div>

<% end %>