<% content_for :breadcrumbs do -%>
  <%= link_to 'Dashboard', admin_dashboard_path %> &raquo;
  <strong>Species</strong>
<% end -%>

<% content_for :main do %>
  <% form_tag batch_admin_species_index_path do |f| %>
    <div class="grid">
      <div class="grid-header">
        <div class="actions">
          <select name="type">
            <option>Choose an Action</option>
            <option value="destroy">Delete</option>
          </select>
        </div>
        <ul>
          <li><%= link_to "+ Add New", new_admin_species_path %></li>
        </ul>
      </div>
      <div class="grid-body">
        <table>
          <thead>
            <tr>
              <th width="3%"><%= check_box_tag 'checkall' %></th>
              <th width="67%">Species</th>
              <th width="20%">Code</th>
              <th width="10%">In Model</th>
            </tr>
          </thead>
          <tbody>
            <% unless @species.empty? %>
              <% @species.each do |species| -%>
                <tr class="<%= cycle('odd', 'even') %>">
                  <td><%= check_box_tag 'item[]', species.id %></td>
                  <td><%= link_to species.name, edit_admin_species_path(species) %></td>
                  <td><%= species.code %></td>
                  <td>
                    <% if species.in_model %>
                      <span class="yes">YES</span>
                    <% else %>
                      <span class="no">NO</span>
                    <% end %>
                  </td>
                </tr>
              <% end -%>
            <% else -%>
              <tr>
                <td colspan="3">There are no species</td>
              </tr>
            <% end -%>
          </tbody>
        </table>
      </div>
      <div class="grid-footer">
      </div>
    </div>
  <% end -%>
<% end -%>