<% content_for :breadcrumbs do %>
  <%= link_to 'Admin', admin_dashboard_url %> &raquo
  <%= link_to 'Menu', admin_items_url %> &raquo
  <strong>Delete Item</strong>
<% end %>

<% content_for :main do %>

  <div class="form-delete">
  
    <%= form_for @item, :url => admin_item_url(@item.id), :html => { :method => 'delete' } do |f| %>
    
      <p><strong>Are you sure you want to delete this menu item?</strong> There is no undo!</p>
    
      <%= f.submit "Delete item", { :class => "button" } %> or
      <%= link_to 'Cancel', admin_items_url %>  
    
    <% end %>
    
  </div>

<% end %>