<% content_for :breadcrumbs do -%>
  <%= link_to 'Dashboard', admin_dashboard_path %> &raquo;
  <strong>Reset Password</strong>
<% end -%>

<% content_for :main do %>
  <%= form_for @user, { :url => admin_password_path(@user) } do |f| -%>
    <div class="form" id="new_user">
      <div class="form-header">
        <h2>Reset Password</h2>
      </div>
      <div class="form-body">
        <p>Please enter a new secure password below to proceed.</p>
        <dl>
          <%= f.password_field_control @user, :password, { :required => true } %>
          <%= f.password_field_control @user, :password_confirmation, { :required => true, :text => "Confirm" } %>
        </dl>
      </div>
      <div class="form-footer">
        <ul>
          <li><%= f.submit 'Reset', :class => 'button' %></li>
        </ul>
      </div>
    </div>
  <% end -%>
<% end -%>