<% content_for :breadcrumbs do -%>
  <%= link_to 'Dashboard', admin_dashboard_path %> &raquo;
  <strong>Settings</strong>
<% end -%>

<% content_for :main do %>
  <%= form_for @user, { :url => admin_password_path(@user) } do |f| -%>
    <div class="form" id="new_user">
      <div class="form-header">
        <h2>Settings</h2>
      </div>
      <div class="form-body">
        <dl>
          
          <%= f.text_field_control @user, :first_name, { :required => true, :text => "First Name" } %>
          
          <%= f.text_field_control @user, :last_name, { :required => true, :text => "Last Name" } %>
          
          <%= f.text_field_control @user, :email, { :required => true } %>

          <%= f.password_field_control @user, :password, { :required => true } %>

          <%= f.password_field_control @user, :password_confirmation, { :required => true, :text => "Confirm" } %>

        </dl>
      </div>
      <div class="form-footer">
        <ul>
          <li><%= link_to 'Cancel', admin_dashboard_path, :class => 'cancel' %></li>
          <li><%= f.submit 'Save', :class => 'button' %></li>
        </ul>
      </div>
    </div>
  <% end -%>
<% end -%>