<% content_for :breadcrumbs do -%>
  <%= link_to 'Dashboard', admin_dashboard_path %> &raquo;
  <strong>Taxonomies</strong>
<% end -%>

<% content_for :main do %>
  <div class="grid">
    <div class="grid-header">
      <h2>Taxonomies</h2>
      <ul>
        <li><%= link_to "+ Add New", new_admin_taxonomy_path %></li>
      </ul>
    </div>
    <div class="grid-body">
      <table>
        <thead>
          <tr>
            <th>Taxonomy</th>
            <th width="20%">Code</th>
          </tr>
        </thead>
        <tbody>
          <% unless @taxonomies.empty? %>
            <% @taxonomies.each do |taxonomy| -%>
              <tr class="<%= cycle('odd', 'even') %>">
                <td><%= link_to taxonomy.name, edit_admin_taxonomy_path(taxonomy) %></td>
                <td><%= taxonomy.code %></td>
              </tr>
              <% if taxonomy.children.size > 0 -%>
                <% taxonomy.children.each do |subtaxonomy| -%>
                  <tr class="<%= cycle('odd', 'even') %>">
                    <td class="subitem"><%= link_to subtaxonomy.name, edit_admin_taxonomy_path(taxonomy) %></td>
                    <td><%= subtaxonomy.code %></td>
                  </tr>
                <% end -%>
              <% end -%>
            <% end -%>
          <% else -%>
            <tr>
              <td>There are no taxonomies</td>
            </tr>
          <% end -%>
        </tbody>
      </table>
    </div>
    <div class="grid-footer">
    </div>
  </div>
<% end -%>