<% content_for :breadcrumbs do -%>
  <%= link_to 'Dashboard', admin_dashboard_path %> &raquo;
<% end -%>

<% content_for :main do %>
  <section>
    <h2>Configuration</h2>
    <ul>
      <li><%= link_to 'Manage Events', admin_events_path %></li>
      <li><%= link_to 'Manage Locations', admin_locations_path %></li>
      <li><%= link_to 'Manage Methods', admin_methods_path %></li>
      <li><%= link_to 'Manage Processes', admin_processes_path %></li>
      <li><%= link_to 'Manage Species', admin_species_index_path %></li>
      <li><%= link_to 'Manage Taxonomies', admin_taxonomies_path %></li>
    </ul>
  </section>
  
  <section>
    <h2>Observations</h2>
    <ul>
      <% if current_user.is_editor? %>
        <li><%= link_to 'Manage Citations', admin_citations_path %></li>
        <li><%= link_to 'Manage Observations', admin_observations_path %></li>
      <% end %>
      <% if current_user.is_publisher? %>
        <li><%= link_to 'Curate Observations', curate_admin_observations_path %></li>
      <% end %>
    </ul>
  </section>

  <% if current_user.is_admin? %>
    <section>
      <h2>Website</h2>
      <ul>
        <li><%= link_to 'Manage Pages', admin_pages_path %></li>
        <li><%= link_to 'Manage Menu', admin_items_path %></li>
      </ul>
    </section>

    <section>
      <h2>Data Processing</h2>
      <ul>
        <li><%= link_to 'Export Observations', export_admin_observations_path(:format => 'txt') %> (with codes)</li>
        <li><%= link_to 'Export Observations', export_admin_observations_path(:format => 'csv') %> (with labels)</li>
        <li><%= link_to 'Manage Estimates', admin_estimates_path %></li>
      </ul>
    </section>
  <% end %>

  <% if current_user.is_admin? %>
    <section>
      <h2>Administration</h2>
      <ul>
        <li><%= link_to 'Manage Users', admin_users_path %></li>
      </ul>
    </section>
  <% end %>

<% end -%>