<% content_for :breadcrumbs do -%>
  <%= link_to 'Dashboard', admin_dashboard_path %> &raquo;
  <%= link_to 'Models', admin_models_path %> &raquo;
  <strong>Edit Model</strong>
<% end -%>

<% content_for :main do %>
  <%= form_for @model, { :url => admin_model_path(@model) } do |f| -%>
    <div class="form" id="new_model">
      <div class="form-header">
        <h2>Model Details</h2>
      </div>
      <div class="form-body">
        <dl>
          <%= render 'form', :f => f %>
        </dl>
      </div>
      <div class="form-footer">
        <ul>
          <li><%= link_to 'Cancel', admin_models_path, :class => 'cancel' %></li>
          <li><%= f.submit 'Save', :class => 'button' %></li>
        </ul>
      </div>
    </div>
  <% end -%>
<% end -%>