<% content_for :breadcrumbs do -%>
  <%= link_to 'Dashboard', admin_dashboard_path %> &raquo;
  <strong>Algorithms</strong>
<% end -%>

<% content_for :main do %>
  <div class="grid">
    <div class="grid-header">
      <h2>Algorithms</h2>
      <ul>
        <li><%= link_to "+ Add New", new_admin_model_path %></li>
      </ul>
    </div>
    <div class="grid-body">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th width="10%">Date</th>
          </tr>
        </thead>
        <tbody>
          <% unless @models.empty? %>
            <% @models.each do |model| -%>
              <tr class="<%= cycle('odd', 'even') %>">
                <td><%= link_to "Version #{model.id}", edit_admin_model_path(model) %></td>
                <td><%= model.created_at.strftime("%m/%d/%y") %></td>
              </tr>
            <% end -%>
          <% else -%>
            <tr>
              <td colspan="2">There are no algorithms</td>
            </tr>
          <% end -%>
        </tbody>
      </table>
    </div>
    <div class="grid-footer">
    </div>
  </div>
<% end -%>