<% content_for :breadcrumbs do -%>
  <%= link_to 'Dashboard', admin_dashboard_path %> &raquo;
  <strong>Datasets</strong>
<% end -%>

<% content_for :main do %>
  <div class="grid">
    <div class="grid-header">
      <ul>
        <li><%= link_to "+ Create New", new_admin_dataset_path %></li>
      </ul>
    </div>
    <div class="grid-body">
      <table>
        <thead>
          <tr>
            <th width="60%">ID</th>
            <th width="20%">Model</th>
            <th width="10%">Status</th>
            <th width="10%">Created_at</th>
            <th width="10%">Active</th>
          </tr>
        </thead>
        <tbody>
          <% unless @datasets.empty? %>
            <% @datasets.each do |dataset| -%>
              <tr class="<%= cycle('odd', 'even') %>">
                <td><%= link_to dataset.id, admin_dataset_path(dataset) %></td>
                <td><%= dataset.model_id %></td>
                <td><%= dataset.status.upcase %></td>
                <td><%= dataset.created_at.strftime("%m/%d/%Y") %></td>
                <td>
                  <% if dataset.is_active %>
                    <span class="yes">YES</span>
                  <% else %>
                    <span class="no">NO</span>
                  <% end %>
                </td>
              </tr>
            <% end -%>
          <% else -%>
            <tr>
              <td colspan="4"">There are no datasets</td>
            </tr>
          <% end -%>
        </tbody>
      </table>
    </div>
    <div class="grid-footer">
    </div>
  </div>
<% end -%>