<% content_for :breadcrumbs do -%>
  <%= link_to 'Dashboard', admin_dashboard_path %> &raquo;
  <%= link_to 'Datasets', admin_datasets_path %> &raquo;
  <strong>New Dataset</strong>
<% end -%>

<% content_for :main do %>
  <%= form_for @dataset, { :url => admin_datasets_path } do |f| -%>
    <div class="form">
      <div class="form-header">
        <h2>Dataset Details</h2>
      </div>
      <div class="form-body">
        <dl>
          <% options = options_from_collection_for_select(Model.order("created_at DESC").all, :id, :id, @dataset.model_id) %>
          <%= f.select_control @dataset, :model_id, { :text => 'Algorithm', :required => true }, { :include_blank => '', :options => options } %>
          <%= f.text_area_control @dataset, :description %>
        </dl>
      </div>
      <div class="form-footer">
        <ul>
          <li><%= link_to 'Cancel', admin_datasets_path, :class => 'cancel' %></li>
          <li><%= f.submit 'Process', :class => 'button' %></li>
        </ul>
      </div>
    </div>
  <% end -%>
<% end -%>