<% content_for :breadcrumbs do %>
  <%= link_to 'Dashboard', admin_dashboard_path %> &raquo;
  <%= link_to 'Standard Errors', admin_errors_path %> &raquo;
  <strong>Import Standard Errors</strong>
<% end %>

<% content_for :main do %>

  <%= form_tag import_admin_errors_path, { :multipart => true } do %>
    <div class="form">
      <div class="form-header">
        <h2>Import Standard Errors</h2>
      </div>
      <div class="form-body">
        <p>Standard error data can be uploaded in a two space delimited text file. Upload the text file to import processed data into the system.</p>
        <dl>
          <dt><label>Text File</label></dt>
          <dd><%= file_field_tag 'upload[file]' %></dd>
        </dl>        
      </div>
      <div class="form-footer">
        <ul>
          <li><%= link_to 'Cancel', admin_errors_path %></li>
          <li><%= submit_tag "Upload", :class => "button" %></li>
        </ul>
      </div>
    </div>
  <% end %>
  
<% end %>