<% content_for :content do %>

  <a href="/tables">&laquo Back to related tables</a>
  
  <h2>95% Confidence Intervals for <%= @species.name %></h2>
  
  <table width="100%" class="referencetable">
    <thead>
      <tr>
        <th width="70%">Event</th>
        <th width="10%">Lower</th>
        <th width="10%">Estimate</th>
        <th width="10%">Upper</th>
      </tr>
    </thead>
    <tbody>
      <% @estimates.each do |estimate| %>
        <tr>
          <th valign="top"><%= estimate.event.name %></th>
          <td valign="top"><%= estimate.low %></td>
          <td valign="top"><%= estimate.value %></td>
          <td valign="top"><%= estimate.high %></td>
        </tr>
      <% end  %>
    </tbody>
  </table>

<% end %>