<% content_for :main do %>
  <div class="form">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <div class="form-header">
        <h2>Sign in</h2>
      </div>
      <div class="form-body">
        <dl>
          <%= f.email_field_control resource, :email %>
          <%= f.password_field_control resource, :password %>
          <dt>&nbsp;</dt>
          <dd><%= f.check_box :remember_me %> <%= f.label :remember_me %></dd>
        </dl>
      </div>
      <div class="form-footer">
        <ul>
          <li><%= f.submit "Sign in" %></li>
        </ul>
      </div>
    <% end %>
  </div>
  <%= render :partial => "devise/shared/links" %>
<% end -%>
