<% content_for :breadcrumbs do %>
  <%= link_to 'Dashboard', admin_dashboard_path %> &raquo;
  <%= link_to 'Estimates', admin_estimates_path %> &raquo;
  <strong>Import Estimates</strong>
<% end %>

<% content_for :main do %>

  <%= form_tag import_admin_estimates_path, { :multipart => true } do %>
    <div class="form">
      <div class="form-header">
        <h2>Import Estimates</h2>
      </div>
      <div class="form-body">
        <p>Processed observation data can be uploaded in a two space delimited text file. Upload the text file to import processed data into the system.</p>
        <dl>
          <dt><label>Estimates</label></dt>
          <dd><%= file_field_tag 'upload[values]' %></dd>
          <dt><label>Low Confidence</label></dt>
          <dd><%= file_field_tag 'upload[lows]' %></dd>
          <dt><label>High Confidence</label></dt>
          <dd><%= file_field_tag 'upload[highs]' %></dd>
          <dt><label>Warnings</label></dt>
          <dd><%= file_field_tag 'upload[warnings]' %></dd>
        </dl>        
      </div>
      <div class="form-footer">
        <ul>
          <li><%= link_to 'Cancel', admin_estimates_path %></li>
          <li><%= submit_tag "Upload", :class => "button" %></li>
        </ul>
      </div>
    </div>
  <% end %>
  
<% end %>