<select id="<%= key %>" name="translation[<%= key %>]">
  <option></option>
  <% Species.in_model.all.each do |species| %>
    <option value="<%= species.id %>" data-min="<%= species.minimum %>" data-max="<%= species.maximum %>" <%= (value == species.id.to_s) ? raw('selected="selected"') : '' %>><%= species.name %></option>
  <% end %>
</select> 
<span class="range"></span>