<% content_for :content do %>

  <div class="translate">
    
    <p>Please select two species, input the PC day you want translated from Species One to Species Two, and click the translate button.</p>
    
    <form action="/predict" method="post">
      
      <dl>
        <dt>Species</dt>
        <dd><%= select_tag :species_id, options_from_collection_for_select(Species.in_model.order('name ASC').all, :id, :name, params[:species_id]), :include_blank => true %></dd>
        <dt>Neural Event</dt>
        <dd><%= select_tag :event_id, options_from_collection_for_select(Event.order('name ASC').all, :id, :name, params[:event_id]), :include_blank => true %></dd>
        <dd><input type="submit" value="PREDICT" /></dd>
      </dl>

    </form>
    
    <% if request.post? %>
    
      <table width="100%" class="referencetable">
        <tr>
          <th width="50%">Predicted Days</th>
          <td width="50%"><%= @estimate.value %></td>
        </tr>
        <tr>
          <th>Species</th>
          <td><%= @species.name %></td>
        </tr>
        <tr>
          <th>Event</th>
          <td><%= @event.name %></td>
        </tr>
        <tr>
          <th>95% Confidence Range</th>
          <td><%= @estimate.low %> - <%= @estimate.high %></td>
        </tr>
        <% unless @gestation.nil? %>
          <tr>
            <th>Gestation</th>
            <td><%= @gestation.value %></td>
          </tr>
        <% end %>
        <% unless @eyes.nil? %>
          <tr>
            <th>Eye opening</th>
            <td><%= @eyes.value %></td>
          </tr>
        <% end %>
      </table>
      
      <p>* Confidence intervals are for species averages rather than for individuals.</p>

    <% end %>

  </div>

<% end %>
