<% content_for :content do %>

  <div class="translate">
    
    <h2>Predict</h2>
    
    <p>Please a species and an event and click the predict button.</p>
    
    <form action="/predict" method="post">
      
      <dl>
        <dt>Species</dt>
        <dd><%= select_tag :species_id, options_from_collection_for_select(Species.in_model.order('name ASC').all, :id, :name, params[:species_id]), :include_blank => true %></dd>
        <dt>Neural Event</dt>
        <dd><%= select_tag :event_id, options_from_collection_for_select(Event.order('name ASC').all, :id, :name, params[:event_id]), :include_blank => true %></dd>
      </dl>
      <div class="buttons">
        <input type="submit" value="PREDICT" />
      </div>

    </form>
    
    <% if request.post? %>
    
      <% unless @estimate.nil? %>
    
        <table width="100%" class="referencetable">
          <tr>
            <th width="50%">Predicted Days</th>
            <td width="50%"><%= format_value(@estimate.value) %></td>
          </tr>
          <tr>
            <th>Species</th>
            <td><%= @species.name %></td>
          </tr>
          <tr>
            <th>Event</th>
            <td><%= @event.name %></td>
          </tr>
          <tr>
            <th>95% Confidence Range <span class="asterix">*</span></th>
            <td><%= format_value(@estimate.low) %> - <%= format_value(@estimate.high) %></td>
          </tr>
          <% unless @gestation.nil? %>
            <tr>
              <th>Gestation</th>
              <td><%= format_value(@gestation.value) %></td>
            </tr>
          <% end %>
          <% unless @eyes.nil? %>
            <tr>
              <th>Eye opening</th>
              <td><%= format_value(@eyes.value) %></td>
            </tr>
          <% end %>
        </table>
        
        <p><span class="asterix">*</span> Confidence intervals are for species averages rather than for individuals.</p>
  
      <% else %>
        <div class="results">
          <p>We can't predict <strong><%= @event.name %></strong> for the <strong><%= @species.name %></strong></p>
        </div>
      <% end %>
    <% end %>

  </div>

<% end %>
