<% content_for :content do %>

  <h2>Species Information</h2>
  <p> Workman AD, Charvet CJ, Clancy B, Darlington RB, Finlay BL. 2013. Modeling transformations of neurodevelopmental sequences across mammalian species. J Neurosci. 33: 7368-7383.</p>
  <table width="100%" class="referencetable">
    <thead>
      <tr>
        <td>Species</td>
        <td>Species Name</td>
        <td>Constant</td>
        <td>Slope</td>
        <td>Precocial Score</td>
        <td>Brain (g)</td>
        <td>Weight (g)</td>
        <td>Gestation (days)</td>
      </tr>
    </thead>
    <tbody>
      <% @species.each do |species| %>
        <tr>
          <th><%= species.name %></th>
          <td><%= species.scientific_name %></td>
          <td><%= species.constant %></td>
          <td><%= species.slope %></td>
          <td><%= species.precocial_score %></td>
          <td><%= species.brain %></td>
          <td><%= species.weight %></td>
          <td><%= species.gestation %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>
