<% content_for :content do %>

  <div class="translate">
    
    <p>Please select two species, input the PC day you want translated from Species One to Species Two, and click the translate button.</p>
    
    <form action="/translate" method="post" id="translate">
      
      <dl>
        <dt>Species 1</dt>
        <dd><%= render 'species', :key => 'species_1', :value => params[:translation][:species_1] %>
        <dt>Location</dt>
        <dd><%= select_tag 'translation[location]', options_from_collection_for_select(Location.all, :id, :name, params[:translation][:location]), :include_blank => true %></dd>
        <dt>Process</dt>
        <dd><%= select_tag 'translation[process]', options_from_collection_for_select(Proces.all, :id, :name, params[:translation][:process]), :include_blank => true %></dd>
        <dt>Days</dt>
        <dd class="days">
          <%= text_field_tag 'translation[min]', params[:translation][:min] %>
          <span>&lt;</span>
          <%= text_field_tag 'translation[days]', params[:translation][:days] %>
          <span>&lt;</span>
          <%= text_field_tag 'translation[max]', params[:translation][:max] %>
        </dd>
        <dt>Species 2</dt>
        <dd><%= render 'species', :key => 'species_2', :value => params[:translation][:species_2] %></dd>
      </dl>
      <div class="buttons">
        <input type="submit" value="TRANSLATE" />
      </div>

    </form>
    
    <% if @translation.valid? %>

      <div class="results">

        <p>An event in <strong><%= @species1.name %></strong> at PC Day <%= params[:translation][:days] %> translates into <strong>PC Day <%= number_with_precision(@result, :precision => 1) %></strong> in <strong><%= @species2.name %></strong>.</p>

      </div>
      
      <h2>Species Predictions</h2>
    
      <table width="100%" class="referencetable">
        <thead>
          <tr>
            <td rowspan="3" width="52%">Event Name</td>
            <td colspan="6">Predictions</td>
          </tr>
          <tr>
            <td colspan="3"><%= @species1.name %></td>
            <td colspan="3"><%= @species2.name %></td>
          </tr>
          <tr>
            <td width="8%">Lower CL</td>
            <td width="8%">Prediction</td>
            <td width="8%">Upper CL</td>
            <td width="8%">Lower CL</td>
            <td width="8%">Prediction</td>
            <td width="8%">Upper CL</td>
          </tr>
        </thead>
        <tbody>
          <% @results.each do |event, result| %>
            <tr>
              <th><%= event %></th>
              <td align="center"><%= result[0] %></td>
              <td align="center"><strong><%= result[1] %></strong></td>
              <td align="center"><%= result[2] %></td>
              <td align="center"><%= result[3] %></td>
              <td align="center"><strong><%= result[4] %></strong></td>
              <td align="center"><%= result[5] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    <% end %>

  </div>

<% end %>
