<% content_for :content do %>

  <div class="translate">
    
    <p>Please select two species, input the PC day you want translated from Species One to Species Two, and click the translate button.</p>
    
    <form action="/translate" method="post">
      
      <dl>
        <dt>Species 1</dt>
        <dd><%= select_tag :species_1, options_from_collection_for_select(Species.all, :id, :name, params[:species_1]), :include_blank => true %></dd>
        <dt>Days</dt>
        <dd class="days">
          <div class="min">19.5</div>
          <span>&lt;</span>
          <%= text_field_tag :days, params[:days] %>
          <span>&lt;</span>
          <div class="max">40.6</div>
        </dd>
        <dt>Species 2</dt>
        <dd><%= select_tag :species_2, options_from_collection_for_select(Species.all, :id, :name, params[:species_2]), :include_blank => true %></dd>
        <dt>&nbsp;</dt>
        <dd><input type="submit" value="TRANSLATE" /></dd>
      </dl>

    </form>
    
    <% if request.post? %>
    
      <h2>Species Predictions</h2>
    
      <table width="100%" class="referencetable">
        <thead>
          <tr>
            <td rowspan="3" width="52%">Event Name</td>
            <td colspan="6">Predictions</td>
          </tr>
          <tr>
            <td colspan="3"><%= @species1.name %></td>
            <td colspan="3"><%= @species2.name %></td>
          </tr>
          <tr>
            <td width="8%">Lower CL</td>
            <td width="8%">Prediction</td>
            <td width="8%">Upper CL</td>
            <td width="8%">Lower CL</td>
            <td width="8%">Prediction</td>
            <td width="8%">Upper CL</td>
          </tr>
        </thead>
        <tbody>
          <% @results.each do |event, result| %>
            <tr>
              <th><%= event %></th>
              <td align="center"><%= result[0] %></td>
              <td align="center"><strong><%= result[1] %></strong></td>
              <td align="center"><%= result[2] %></td>
              <td align="center"><%= result[3] %></td>
              <td align="center"><strong><%= result[4] %></strong></td>
              <td align="center"><%= result[5] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    <% end %>

  </div>

<% end %>
