<% content_for :breadcrumbs do -%>
  <%= link_to 'Dashboard', admin_dashboard_path %> &raquo;
  <strong>Curated Observations</strong>
<% end -%>

<% content_for :main do %>
  <%= form_tag curated_admin_observations_path, :method => :post %>
    <div class="form" id="observations">
      <div class="form-header">
        <h2>Curation Search</h2>
      </div>
      <div class="form-body">
        <dl>
          <dt>Species</dt>
          <dd>
            <span class="toggle">Select All</span>
            <ul class="checkboxes">
              <% @species.each do |species| %>
                <li>
                  <label>
                    <%= check_box_tag 'species_ids[]', species.id %>
                    <%= species.name %>
                  </label>
                </li>
              <% end %>
            </ul>
          </dd>
          <dt>Location</dt>
          <dd><%= select_tag 'location', options_from_collection_for_select(Location.all, :id, :name), :include_blank => true %></dd>
          <dt>Process</dt>
          <dd><%= select_tag 'process', options_from_collection_for_select(Proces.all, :id, :name), :include_blank => true %></dd>
          <dt>Events</dt>
          <dd class="events">
            <span class="toggle">Select All</span>
            <ul class="checkboxes">
              <% @events.each do |event| %>
                <li class="process_<%= event.process_id %> location_<%= event.location_id %>">
                  <label>
                    <%= check_box_tag 'event_ids[]', event.id %>
                    <%= event.name %>
                  </label>
                </li>
              <% end %>
            </ul>
          </dd>
        </dl>
      </div>
      <div class="form-footer">
        <ul>
          <li><%= submit_tag 'Search', :class => 'button' %></li>
        </ul>
      </div>
    </div>
  </form>
<% end -%>