<% content_for :breadcrumbs do -%>
  <%= link_to 'Dashboard', admin_dashboard_path %> &raquo;
  <strong>Observations</strong>
<% end -%>

<% content_for :main do %>
  <div class="grid" id="locations">
    <div class="grid-header">
    </div>
    <div class="grid-body">
      <table>
        <thead>
          <tr>
            <th>Species</th>
            <th>Event</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <% unless @observations.empty? %>
            <% @observations.each do |observation| %>
              <tr class="<%= cycle('odd', 'even') %>">
                <td><%= observation.species.name %></td>
                <td><%= observation.event.name %></td>
                <td><%= observation.value %></td>
              </tr>
            <% end -%>
          <% else -%>
            <tr>
              <td colspan="3">There are no observations</td>
            </tr>
          <% end -%>
        </tbody>
      </table>
    </div>
    <div class="grid-footer">
    </div>
  </div>
  <%= link_to "Create New Observation", new_admin_observation_path %>
<% end -%>