<!DOCTYPE html>
<html>
<head>
  <title>Translating Time</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <h1><%= link_to "Translating Time", admin_dashboard_path %></h1>
  <% if user_signed_in? -%>
    <presence>
      <strong><%= current_user.full_name -%></strong>
      <ul>
        <li><%= link_to 'Settings', user_session_path %></li>
        <li><%= link_to 'Sign Out', destroy_user_session_path %></li>
      </ul>
      
    </presence>
  <% end -%>
</header>

<% unless yield(:breadcrumbs).blank? %>
  <breadcrumbs>
    <%= yield :breadcrumbs %>
  </breadcrumbs>
<% end %>

<application>
  <%= render '/layouts/flash' %>
  <div class="main">
    <div class="inner">
      <div class="panel" style="display: none;"></div>
      <%= yield :main %>
    </div>
  </div>
  <% unless yield(:sidebar).blank? %>
    <div class="sidebar">
      <div class="inner">
        <div class="container">
          <%= yield :sidebar %>
        </div>
      </div>
    </div>
  <% end %>
  <% unless yield(:content).blank? %>
    <div class="content">
      <div class="inner">
        <%= yield(:content) %>
      </div>
    </div>
  <% end %>
</application>

</body>
</html>
