<!DOCTYPE html>
<html>
<head>
  <title>Translating Time</title>
  <%= stylesheet_link_tag  "site", :media => "all" %>
  <link rel="shortcut icon" href="/assets/favicon.ico" />
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="site">
  <div class="header">
    <h1><%= link_to 'Translating Time', root_path %></h1>
  </div>
  <div class="main">
    <div class="body">
      <div class="sidebar">
        <div class="inner">
          <ul>
            <% @items.each do |item| %>
              <li><%= link_to item.title, item.url %></li>
            <% end  %>
          </ul>
          <img src="/assets/sidebar.jpg">
        </div>
      </div>
      <div class="content">
        <div class="inner">
          <%= render '/layouts/flash' %>
          <%= yield(:content) %>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <p>Copyright © <%= Date.today.strftime("%Y") %> Translating Time </p>
  </div>
</div>

</body>
</html>
