<!DOCTYPE html>
<html>
<head>
  <title>Translating Time</title>
  <%= stylesheet_link_tag  "site", :media => "all" %>
  <link rel="shortcut icon" href="/assets/favicon.ico" />
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="site">
  <div class="header">
    <h1><%= link_to 'Translating Time', root_path %></h1>
  </div>
  <div class="main">
    <div class="body">
      <div class="sidebar">
        <div class="inner">
          <ul>
            <% @items.each do |item| %>
              <li><%= link_to item.title, '/'+item.url %></li>
            <% end  %>
          </ul>
          <img src="/assets/sidebar.jpg">
        </div>
      </div>
      <div class="content">
        <div class="inner">
          <%= render '/layouts/flash' %>
          <%= yield(:content) %>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <p>Copyright <%= link_to '©', admin_dashboard_path %> <%= Date.today.strftime("%Y") %> Translating Time </p>
  </div>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40433911-1', 'translatingtime.net');
  ga('send', 'pageview');

</script>
</body>
</html>
