<!DOCTYPE html>
<html>
<head>
  <title>Translating Time</title>
  <%= stylesheet_link_tag  "site", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="site">
  <div class="header">
    <h1>Translating Time</h1>
  </div>
  <div class="body">
    <%= render '/layouts/flash' %>
    <div class="sidebar">
      <div class="inner">
        <ul>
          <% @items.each do |item| %>
            <li><%= link_to item.title, item.url %></li>
          <% end  %>
        </ul>
      </div>
    </div>
    <div class="content">
      <div class="inner">
        <%= yield(:content) %>
      </div>
    </div>
  </div>
  <div class="footer">
    <p>Copyright © <%= Date.today.strftime("%Y") %> Translating Time </p>
  </div>
</div>

</body>
</html>
